@layer base {
  :root {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 240 6% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 4%;
    --primary: 357 70% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 4% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 240 6% 90%;
    --accent-foreground: 240 4% 10%;
    --destructive: 357 70% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 357 70% 51%;
    --chart-1: 357 70% 51%;
    --chart-2: 240 4% 27%;
    --chart-3: 357 78% 74%;
    --chart-4: 240 5% 65%;
    --chart-5: 357 74% 34%;
    --chart-grid: 240 5% 84%;
    --chart-surface: 0 0% 100%;
  }
}
